*{
    font-family: 'Josefin Sans';
}

html{
    scroll-behavior: smooth;
}

.hero-section{
width: 100%;
height: 110vh;
background-color: var(--primary-color);
}
.nav-link{
    color: var(--secondary-color);
}

.logo{
    width: 148px;
   
}
.nav-link:hover{
    color: #742296;
}
.allnavs{
    display: flex;
    gap: 30px;
   font-size: 20px;
   color: var(--secondary-color);
}
.nav-item{
gap: 2px;
}
.black-button{
    position: relative;
    right: 70px;
    width: 44px;
}
.discover-button{
    background-color:#742296;
    border: none;
    font-size: medium;
    width: 140px;
    height: 45px;
    color:white;
}
.book-button{
    border: 4px solid #742296;
    background-color: white;
    font-weight: normal;
    width: 140px;
    height: 45px;
    color:black;
}
.hero-buttons{
display: flex;
gap: 20px;

}
#night-mode{
width: 50px;
height: 50px;    
}
.play-arrow{
width: 25px;
height: 25px;

}
.tick-arrow{
width: 25px;
height: 25px;

}
.play-text{
display: flex;
flex-direction: row;
gap: 15px;
}
.tick-text{
display: flex;
flex-direction: row;
 gap: 15px;
}
.h1-hero{
 font-weight: bold;
 margin-top: 100px;
}
.hero-text{
font-size: 20px;
}
.image1{
 background-image: url(../Tig-images/Rectangle\ 2.png); 
 width: 200px;
 height: 500px;
 background-position: center;
 background-size: cover;
 margin-top: 50px;
}
.image2{
    background-image: url(../Tig-images/Rectangle\ 3.png); 
    width: 200px;
    height: 500px;
    background-position: center;
    background-size: cover;
   }
   .image3{
    background-image: url(../Tig-images/Rectangle\ 4.png); 
    width: 200px;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
   }
   .image4{
    background-image: url(../Tig-images/Rectangle\ 5.png); 
    width: 200px;
    height: 500px;
    background-position: center;
    background-size: cover;
   }
   .hero-images{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 35px;
   }
   .vedio-text{
    color: #742296;
   }

.about-tigzozo{
width: 100%;
background-color: var(--primary-color);

}
.about-image1{
background-image: url(../Tig-images/Rectangle\ 16.png);
width: 255px;
height: 355px;
background-position: center;
background-size: cover;
}
.about-image2{
    background-image: url(../Tig-images/Rectangle\ 17.png);
    width: 255px;
    height: 355px;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    }
    .about-image3{
        background-image: url(../Tig-images/Rectangle\ 15.jpg);
        width: 430px;
        height: 430px;
        background-position: center;
        background-size: cover;
        margin-top: 50px;
        display: flex;
align-items: center;
justify-content: center;
        }
   .about-part1{
position: relative;
padding-left: 150px;
   }
   .about-part2{
    position: relative;
padding-left: 30px;
bottom: 40px;
   }
   .about-button{
    background-color:#742296;
    border: none;
    font-weight: normal;
    width: 140px;
    height: 45px;
    color:white;

   }.about-ptext1{
font-size: large;
   }
   .youtube{
width: 60px;
height: 60px;
position: relative;
   }
   .overlay1{
    width: 430px;
    height: 430px;
    background-color:black;
    opacity: .3;
    position: absolute;

   }
.our-services{
width: 100%;
height: 120vh;
background-color: var(--primary-color);



} 
.services-section{
position: relative;
top: 90px;

}
.services-image1{
background-image: url(../Tig-images/Rectangle\ 27.png);
width: 400px;
height: 600px;
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
padding-top: 557px;

}
.services-image2{
    background-image: url(../Tig-images/Rectangle\ 29.png);
    width: 400px;
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
justify-content: center;
    }
.services-rect{
    width: 400px;
    height: 600px;
  background-color:#742296;
}
.images-services{
display: flex;
flex-direction: row;
gap: 40px;

}
.event-h3{
 color: white;
 position: relative;
 top: 20px;
 left: 30px;   
}
.event1-h3{
    color: white;
    position: relative;
     
   }
   .event2-h3{
    color: white;
    position: relative;
    top: 560px;

   }
.overlay-services1{
    width: 400px;
    height: 600px;
    background-color:black;
    opacity: .2;
    position: absolute;
}
.overlay-services2{
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: .2;
    position: absolute;
}
.small-rect1{
 background-color: #742296;
 width: 42px; 
 height: 42px;
 position: relative;
 left:138px;

}
.small-rect3{
    background-color: #742296;
    width: 42px; 
    height: 42px;
    position: relative;
    left:138px;
    top: 557px;
   
   }

.small-rect2{
    background-color:white;
    width: 46px; 
    height: 42px;
    position: relative;
    left:354px;
    display: flex;
    align-items: center;
   
   }
.services-list{
color: white;
font-size: 26px;
position: relative;
left: 14px;
top: 30px;
line-height:50px;
}
.next-icon{
 width: 40px;
 height: 40px;   
}
.cancel-icon{
    width: 30px;
    height: 30px; 
    position: relative;
    left: 6px;
}
.testimonials{
width: 100%;
height: 150vh;
background-color: var(--primary-color);
position: relative;

}
.testmonialh4{
position: relative;
top: 50px;

}
.small-rect-test1{
position: relative;
left: 457px;
top: 356px;
background-color: #742296;
width: 43px; 
height: 44px;

}

.testimonial-image1{
background-image: url(../Tig-images/Rectangle\ 34.jpg);
width: 500px;
height: 400px;
background-position: center;
background-size: cover;
position: relative;
top: 100px;
}
.testimonial-image2{
    background-image: url(../Tig-images/Rectangle\ 40.jpg);
    width: 500px;
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 30px;
    
    }
.testmonialtxt1{
    position: relative;
    font-size: large;
    top: 130px;
    font-weight: bold;

}
.testmonialtxt{
    position: relative;
    top: 100px;

}
.testimonialtxt2{
    position: relative;
    font-size: large;
    top: 140px;
}
.testimonials-left{
position: relative;
left: 100px;
}
.gallery{
width: 100%;
height: 120vh;
background-color: var(--primary-color);
display: flex;
align-items: center;
}
.instagram-text{
text-align: center;
justify-content: center;
position: relative;
bottom: 150px;
}
.lnstagram{
    font-family: "Great Vibes";
    font-size: 40px;
}
.gallery-image1{
background-image: url(../Tig-images/Rectangle\ 47.png); width: 400px;
height: 400px;
width: 150px;
background-position: center;
background-size: cover;

}
.gallery-image2{
    background-image: url(../Tig-images/Rectangle\ 48.png); width: 400px;
    height: 400px;
    width: 150px;
    background-position: center;
    background-size: cover; 
    position: relative;  
    top: 50px;
}
.gallery-image3{
    background-image: url(../Tig-images/Rectangle\ 61.png); width: 400px;
    height: 400px;
    width: 150px;
    background-position: center;
    background-size: cover;     
}
.gallery-image4{
    background-image: url(../Tig-images/Rectangle\ 62.png); width: 400px;
    height: 400px;
    width: 150px;
    background-position: center;
    background-size: cover;
    position: relative;  
    top: 50px;      
}
.gallery-image5{
    background-image: url(../Tig-images/Rectangle\ 63.png); width: 400px;
    height: 400px;
    width: 150px;
    background-position: center;
    background-size: cover;      
}
.gallery-image6{
    background-image: url(../Tig-images/Rectangle\ 64.png); width: 400px;
    height: 400px;
    width: 150px;
    background-position: center;
    background-size: cover; 
    position: relative;  
    top: 50px;        
}
.gallery-images{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
gap: 15px;

}

.all-contents{
position: relative;
top: 70px;
}
.gallery-button{
    display: flex;
  align-items: center;
    flex-direction: column;
margin-top: 110px;
gap: 1pc;
}
.footer{
    width: 100%;
    height:40vh;
    background-color: #742296;
    display: flex;

}
.h6-footer{
    color: white;
    position: relative;
    top: 30px;
    font-size: 20px;
  }
  .p-footer{
    color: white; 
    line-height: 40px; 
    font-size: 20px;
  }
  .white-rect-footer{
    width: 150px;
    height: 50px;
    background-color: white;
  }
  .p-footer-copy{
color: white;
  }
  .footer-icons{
   width: 25px; 
   height: 25px;
  }
  .footer-icons1{
    width: 25px;
    height: 25px;
  }
.line1{
width: 80px;
height: 2px;
background-color: white;
position: relative;
bottom: 4px;
}
.line2{
    width: 120px;
    height: 2px;
    background-color: white;
    }
    .line3{
        width: 118px;
        height: 2px;
        background-color: white;
    }
    .location-part{
  display: flex;
  flex-direction: row;

    }
    .email-footer{
        display: flex;
        flex-direction: row;
    }

    .email-icon{
width: 20px;
height: 20px;
position: relative;
top: 2inspx;
    }
    .p-footer-loaction{
     font-size: 18px;
     color: white;   
    }
:root{
--primary-color:white;
--secondary-color:black;

}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;

}
p,h1,h2,h3,h4,h5,h6{
 color: var(--secondary-color);   
}
  
  .dropdown {
    cursor: pointer;
    position: relative;
  top: 6px;
    border: none;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .serv-txt{
    font-size: 21px;
    color: #742296;
    
  }

  .dropbtn{
    border: none;
    background-color: unset;
    color: var(--secondary-color);
  }

  .dropbtn:hover{
    color: #742296;
  }
  
.material-symbols-outlined {
    font-size: 30px;
    color: var(--secondary-color);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



